<html>
<head>

</head>
<body>

  <center>
    <h1><b>Title of the Post</b></h1>
  </center>
  <center>
    <h5>
      A brief summury should be located to here for the user who don't want to read everything so they can decide whether this post is helpful or not.
    </h5>
  </center>
  <center>
    <h6>20XX/XX/XX</h6>
  </center><br>



  <h2>0. Introduction<a href="#top">&nbsp;&uarr;</a></h2>



  <h2>1. Something<a href="#top">&nbsp;&uarr;</a></h2>

  <h3>1.1. Something<a href="#top">&nbsp;&uarr;</a></h3>



  <h2>2. Something<a href="#top">&nbsp;&uarr;</a></h2>

  <h3>2.1. Something<a href="#top">&nbsp;&uarr;</a></h3>



  <h2>3. Something<a href="#top">&nbsp;&uarr;</a></h2>

  <h3>3.1. Something<a href="#top">&nbsp;&uarr;</a></h3>



  <h2>0. Conclusion<a href="#top">&nbsp;&uarr;</a></h2>



  <h2>Appendix A. References<a href="#top">&nbsp;&uarr;</a></h2>



  <h2>Appendix B. Something<a href="#top">&nbsp;&uarr;</a></h2>



  <h2>Appendix C. Something<a href="#top">&nbsp;&uarr;</a></h2>






<!-- Uncomment the following things upon completion and delete this. -->
<!--</body>
</html>-->






  <!-- ============= Sample Tags: Delete upon Article Completion ============= -->

  <!-- ***** ALL REFERENCES MUST BE CREATED FROM ZOTERO (APA Style) IDEALLY ***** -->

  <!-- Books - APA Style -->

  <p>
    Russell, S. J., & Norvig, P. (2016). Artificial intelligence: a modern approach. Malaysia; Pearson Education Limited,.
  </p>

  <!-- Papers - APA Style -->

  <p>
    Silver, D., Schrittwieser, J., Simonyan, K., Antonoglou, I., Huang, A., Guez, A., ... & Chen, Y. (2017). Mastering the game of Go without human knowledge. Nature, 550(7676), 354.
  </p>

  <!-- Webpages - Easy Style -->

  <p>
    zillion, "Writing Shellcode" 2002. [Online]. Available:http://www.safemode.org/files/zillion/shellcode/doc/Writing_shellcode.html. [Accessed July 25, 2018].
  </p>

  <!-- A Link (Must Open a New Window) -->
  <a target="_blank" href="https://vimium.github.io/">Vimium</a>

  <!-- Headings Tags -->
  <h1>H1</h1>
  <h2>H2</h2>
  <h3>H3</h3>
  <h4>H4</h4>
  <h5>H5</h5>
  <h6>H6</h6>

  <!-- Paragraphs Tags -->
  <p>
    This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs.
  </p>

  <!-- Computer -->

  <pre><code class="language-bash">[user@host] $ sudo ls
</code></pre>

  <pre><code class="language-bash">[root@host] # whoami
</code></pre>

  <pre><code class="language-SOME_LANGUAGE_HERE">/* Name of the File */
int main() {
  int a = 1;
  int b = 2;
  int c = a + b;
  return 0;
}
</code></pre>

  <pre><samp>This is output of the code executed.
The second line of the output.
</samp></pre>

  <!-- Citation -->

  According to <cite title="HTML & XHTML: The Definitive Guide. Published by O'Reilly Media, Inc.; fifth edition (August 1, 2002)">Chuck Musciano and Bill Kennedy</cite>, the HTML cite tag actually exists!

  <blockquote cite="http://www.worldwildlife.org/who/index.html">
    For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
  </blockquote>

  <p>Browsers usually insert quotation marks around the q element.</p>

  <p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>

  <!-- Image Tags -->

  <figure>
    <center>
      <img src="" alt="Smiley" width="100%">
      <figcaption>Title of the Image</figcaption>
    </center>
  </figure>

  <!-- In Text Tags -->

  <mark>marked text</mark>
  <b>bold text</b>
  <i>italic</i>
  <em>Emphasized text</em><br>
  <strong>Strong text</strong><br>
  <kbd>Keyboard input</kbd><br>
  <var>Variable</var>
  <s>Text crossed out</s>
  <q>Surrounded with some quotation marks</q>
  <sub>subscript</sub>
  <sup>superscript</sup>
  <ins>This text has been inserted</ins>

  <!-- Lists -->

  <ul>
    <li>Cherry Tomato</li>
    <li>Beef Tomato</li>
    <li>Snack Tomato</li>
  </ul>

  <ol start="-10">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>

  <!-- Description List -->

  <dl>
    <dt>Web</dt>
    <dd>The part of the Internet that contains websites and web pages</dd>
    <dt>HTML</dt>
    <dd>A markup language for creating web pages</dd>
    <dt>CSS</dt>
    <dd>A technology to make HTML look better</dd>
  </dl>

  <!-- Table -->

  <table>
    <tr>
      <th>January</th>
      <th>February</th>
      <th>March</th>
    </tr>
    <tr>
      <td>31</td>
      <td>28</td>
      <td>31</td>
    </tr>
  </table>


  <!-- Formatting -->

  <hr/>


  <!-- Miscellaneous Tags -->

  <progress value="70" max="100">70 %</progress>

</body>
</html>
